

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px; 
  padding: 20px;
}

.message {
  text-align: center;
  margin-top: 50px;
  font-size: 28px;
  color: #333; 
  font-weight: 600;
  text-transform: uppercase; 
}


@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr; 
    gap: 12px; 
  }

  .message {
    font-size: 24px; 
  }
}
