
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px; 
  background: linear-gradient(90deg, #4a90e2 0%, #8e44ad 100%); 
}

h1 {
  color: #ffffff; 
  font-size: 36px; 
  font-family: 'Arial', sans-serif; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  letter-spacing: 1.5px; 
  background-color: #ff0000; 
  padding: 10px 20px; 
  border-radius: 10px;
  transition: all 0.3s ease-in-out; 
}



nav {
  display: flex;
  gap: 32px; 
}

.link {
  color: rgb(255, 255, 255); 
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: 8px 16px; 
  transition: background-color 0.3s, color 0.3s; 
}

.link:hover {
  background-color: rgba(255, 255, 255, 0.2); 
  color: #4a90e2; 
  border-radius: 8px; 
}

.active {
  border-bottom: 2px solid #61dafb;
  font-weight: bold; 
}
